<div class="ui comments">
  <div class="comment">
    <a class="avatar">
      <i class="circular large inverted teal user icon"></i>
    </a>
    <div class="content">
      <a class="author"> </a>
      <div class="metadata">
        <div class="date"><%= key.created.toLocaleTimeString()%> <%=key.created.toDateString()  %> </div>
      </div>
      <div class="text">
        <%= key.text %>
      </div>
      <div class="actions">
        <a class="reply active">Reply</a>
        <a class="delete">Delete</a>
      </div>

    </div>
  </div>
</div>