<%- include("partials/header.ejs") %>
<form action="/login" method="post">
    <div class="ui container form">
        <div class="ui placeholder segment">
            <div class="ui two column very relaxed stackable grid">
                <div class="column">
                    <div class="ui form">
                        <div class="field">
                            <label>Username</label>
                            <div class="ui input">
                                <input type="text" placeholder="Username" name="username" id="username">
                            </div>
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <div class="ui input">
                                <input type="password" name="password" id="password" placeholder="password">
                            </div>
                        </div>
                        <button type="submit" class="ui blue submit button">Login</button>
                    </div>
                </div>
                <div class="middle aligned column">
                    <a href="/register">
                        <div class="ui big button">
                            <i class="signup icon"></i>
                            Sign Up
                        </div>
                    </a>
                </div>
            </div>
            <div class="ui vertical divider">
                Or
            </div>
        </div>
    </div>
</form>

<%- include("partials/footer.ejs") %>